aerich==0.6.2
aiosqlite==0.17.0
anyio==3.5.0
asyncpg==0.25.0
click==8.0.4
colorama==0.4.4
ddlparse==1.10.0
dictdiffer==0.9.0
environs==9.5.0
fastapi==0.75.0
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==3.3
importlib-metadata==4.11.3
iso8601==1.0.2
marshmallow==3.15.0
packaging==21.3
priority==2.0.0
pydantic==1.9.0
pyparsing==3.0.7
pypika-tortoise==0.1.4
python-dotenv==0.20.0
pytz==2022.1
sniffio==1.2.0
starlette==0.17.1
toml==0.10.2
tomlkit==0.10.1
tortoise-orm==0.19.0
typing-extensions==4.1.1
wsproto==1.1.0
zipp==3.7.0
